<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3aad8826-b6e1-4489-a4eb-4711075321d6/resourcegroups/Altura/providers/Microsoft.Web/sites/WebAltura20211012223610</ResourceId>
    <ResourceGroup>Altura</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webaltura20211012223610.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b78018bf-f8a4-4fa8-903e-5e26884bed32</ProjectGuid>
    <PublishUrl>https://webaltura20211012223610.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebAltura20211012223610</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>